body {
 width: 99%;
 margin: 2px auto;
 font-family: Arial, "MS Trebuchet", sans-serif;
 text-align: center;
 background-image: url(../images/fundal.jpg);
}
header, footer, section, aside, nav, article { display: block; }
 
header#sus {
 width: 90%;
 margin: 10px auto;
 border: 2px solid yellow;
 background-color: white;
 background-image: url(../images/antet1.png), url(../images/antet2.jpg);
 background-position: left, right;
 background-repeat: no-repeat, no-repeat;
}
header#sus nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 font-weight:bold;
}
#sus nav ul li {
 display:inline;
 margin: 0 20px 0 0;
 padding: 1px;
}
section#postari {
 float:right;
 width: 68%;
 background-color: #f1f2fe;
 border: 1px solid tyellow;
 margin-right:5%;
 margin-bottom:10px;
}
section#postari header#postari_antet {
 background-color: #abcdef;
 border: 1px solid yellow;
}
article.post {
 margin:10px;
 background-color: lightyellow;
 text-align: left;
}
article.post aside {
 float: right;
 margin-top: -58px;
 width: 250px;
 height: 120px;
 background-color: #fefefe;
}
article.post p { clear: right;}
section#sidebar {
 float:left;
 width: 20%;
 background-color: #d7d8fe;
 border: 2px solid yellow;
 padding:5px;
 margin-left:5%;
 margin-bottom:10px;
 border-radius: 15px 55px;
}
section#sidebar nav ul {
 margin: 3px auto;
 text-align: left;
 padding: 0 0 0 15;
 font-weight:bold;
}
section#sidebar aside {
 width: 160px;
 height: 130px;
 margin: 10px auto;
 background-color: #fefefe;
}
footer#subsol{
 clear: both;
 width: 90%;
 margin: 5% auto;
 background-color: #abcdef;
 border: 2px solid yellow;
}